*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --primary-color: #9400ff;
  --radius: 3px;
}

body{
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: var(--primary-color);
}
main{
  width: 90%;
  max-width: 400px;
  height: 200px;
  background-color: #fff;
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  overflow: hidden;
  transition: .2s;
}
.show{
  height:480px;
}

input{
  padding: 10px;
  font-size: 20px;
  border: 2px solid var(--primary-color);
  border-radius: var(--radius);
}

button{
  padding: 10px;
  font-size: 20px;
  background-color: var(--primary-color);
  border: none;
  border-radius: var(--radius);
  color:white;
  font-weight: bold;
}

.qrbox{
  text-align: center;
  padding: 10px;
  border-radius: var(--radius);
  border: 2px solid var(--primary-color);
}
